[include nb.shared/macros/all.cfg]
[include mainsail.cfg]
[include manta-m8p.cfg]
[include ebb36.cfg]
[include lighting.cfg]


[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
canbus_uuid: 998920beb986

[printer]
kinematics: corexy
max_velocity: 600  
max_accel: 6000    			# Max 4000
max_z_velocity: 15 			# Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[bed_mesh]
# TODO: configure this
speed: 270
horizontal_move_z: 3.5
mesh_min: 20, 10
mesh_max: 230, 235
probe_count: 5, 5
mesh_pps: 2, 2
algorithm: bicubic

[respond]

# [delayed_gcode startup]
# initial_duration: 1.0
# gcode:
#   BEEP FREQ=261.63
#   BEEP FREQ=500

[idle_timeout]
gcode:
  SLEEP

[safe_z_home]
home_xy_position: 178.5,250
speed: 150
z_hop: 5